doctype html
html(class="no-js" lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title
			block title
		link(rel="shortcut icon" href=require("../../img/favicon.png") type="image/x-icon")
		include ../libs/bootstrap.min.html
		style(type='text/css').
			html .loader {
				background: #fff;
				bottom: 0;
				height: 100%;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 9999
			}
			html .loader .loader_inner {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #fff;
				height: 200px;
				width: 200px;
				margin-top: -100px;
				margin-left: -100px;
				left: 50%;
				top: 50%;
				position: absolute
			}
	body
		div
			.loader
				.loader_inner
					include ../img/preloader.svg
		block modal
			include modal
		.cd-transition-layer
			.bg-layer
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line

		div(canvas='container')
			block header
				header(class="header")
					.container
						.row
							.header__logo
								a(href="/" class="logo" title="Логотип")
									img(src=require("../../img/logo.png"))
							nav.header__nav.cl-effect-5
								ul
									-var links = [{title:'Отзывы', href:'#',linksNeeded: 1},{className: 'divider', linksNeeded: 0},{title:'Доставка и оплата', href:'#', linksNeeded: 1},{className: 'divider', linksNeeded: 0},{title:'Свой дизайн', href:'#', linksNeeded: 1},{className: 'divider', linksNeeded: 0}];
									each i in links
										li(class=i.className)
											case i.linksNeeded
												when 0
													- break
												when 1
													a(href=i.href)
														span(data-hover=i.title)= i.title
									li.dropdown
										.header__nav-dropdown
											p.
												viber  |  whatsapp
											.header__nav-dropdown-item
												span +38 (096) 098-20-12
												i.fa.fa-angle-down
											.header__nav-dropdown-item
												span +38 (066) 851-87-43
											ul.dropdown-menu
												li
													a(href='#' class="title")
														| Не дозвонились? Заказ звонка!
												li
													a(href='tel:+380960982012')
														i.fa.fa-phone-square
														span +38 (096) 098-20-12
												li
													a(href='skype:pickcase?call')
														i.fa.fa-skype
														span pickcase
												li
													a(href='mailto:smile@pickcase.com.ua')
														i.fa.fa-envelope
														span smile@pickcase.com.ua
									li.divider
							.header-modal
								button.main_btn2 Заказать
			block main
			block footer
				// Секция footer
				footer.footer
		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					-var obj1 = [{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'7 38 425 961 68', href:'tel:73842596168'},{title:'Преимущества', href:'#'},{title:'Отзывы', href:'#'},{title:'Примеры', href:'#'}];
					each i in obj1
						li
							a(href=i.href)= i.title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')
		//[if IE 9]>
			<script src="libs/html5shiv/es5-shim.min.js"></script>
			<script src="libs/html5shiv/html5shiv.min.js"></script>
			<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>`
			<script src="libs/respond/respond.min.js"></script>


