doctype html
html(class="no-js" lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title
			block title
		link(rel="shortcut icon" href=require("../../img/favicon.png") type="image/x-icon")
		include ../libs/bootstrap.min.html
		style(type='text/css').
			html .loader {
				background: #fff;
				bottom: 0;
				height: 100%;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 9999
			}
			html .loader .loader_inner {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #fff;
				height: 200px;
				width: 200px;
				margin-top: -100px;
				margin-left: -100px;
				left: 50%;
				top: 50%;
				position: absolute
			}
	body
		div
			.loader
				.loader_inner
					include ../img/preloader.svg
		block modal
			include modal
		.cd-transition-layer
			.bg-layer
		nav(canvas="" class="")
			.mnu_btn
				label(id="nav-button-label")
					#nav-lines
						i.nav-line
						i.nav-line
						i.nav-line
						i.nav-line

		div(canvas='container')
			block header
				header(class="header")
					.container
						.row
							.header__cloud
								img(src=require("../../img/header__cloud.png"))
								a(href="#popup-sign" data-effect="mfp-zoom-in" class="open-popup-link") Скидка на чехол ТУТ
							.header__logo
								a(href="/" class="logo" title="Логотип")
									img(src=require("../../img/logo.png"))
							nav.header__nav.cl-effect-5
								ul
									-var links = [{title:'Отзывы', attr: 'join', href:'#', classNameLink: 'scroll_to', href:'#',linksNeeded: 1},{className: 'divider', linksNeeded: 0},{title:'Доставка и оплата', classNameLink: 'open-popup-link', href:'#popup-delivery', dataEffect: 'mfp-zoom-in', linksNeeded: 1},{className: 'divider', linksNeeded: 0},{title:'Свой дизайн', attr: 'ready-to-create__constructor',scroll_to: 1 , href:'#', classNameLink: 'scroll_to', linksNeeded: 1},{className: 'divider', linksNeeded: 0}];
									each i in links
										li(class=i.className)
											case i.linksNeeded
												when 0
													- break
												when 1
													a(href=i.href data-scroll=i.attr class=i.classNameLink data-effect=i.dataEffect)
														span(data-hover=i.title)= i.title

									li.dropdown
										.header__nav-dropdown
											p.
												viber  |  whatsapp
											.header__nav-dropdown-item
												span +38 (096) 098-20-12
												i.fa.fa-angle-down
											ul.dropdown-menu
												li
													a(href='#popup' data-effect="mfp-zoom-in" class="title open-popup-link")
														| Не дозвонились? Заказ звонка!
												li
													a(href='tel:+380668518743')
														i.fa.fa-phone-square
														span +38 (066) 851-87-43
												li
													a(href='skype:pickcase?call')
														i.fa.fa-skype
														span pickcase
												li
													a(href='mailto:smile@pickcase.com.ua')
														i.fa.fa-envelope
														span smile@pickcase.com.ua
									li.divider
								ul.visible-mobile
									li.divider
									li.dropdown
										.header__nav-dropdown
											p.
												viber  |  whatsapp
											.header__nav-dropdown-item
												span +38 (096) 098-20-12
												i.fa.fa-angle-down
											.header__nav-dropdown-item
												span +38 (066) 851-87-43
											ul.dropdown-menu
												li
													a(href='#popup' data-effect="mfp-zoom-in" class="title open-popup-link")
														| Не дозвонились? Заказ звонка!
												li
													a(href='tel:+380960982012')
														i.fa.fa-phone-square
														span +38 (096) 098-20-12
												li
													a(href='skype:pickcase?call')
														i.fa.fa-skype
														span pickcase
												li
													a(href='mailto:smile@pickcase.com.ua')
														i.fa.fa-envelope
														span smile@pickcase.com.ua
									li.divider
							.header-modal
								button(class="scroll_to main_btn2" data-scroll="ready-to-create__constructor") Заказать
							.header-modal-cloud
								button(type="button" class="main_btn2 open-popup-link" data-effect="mfp-zoom-in" data-mfp-src="#popup-sign") Скидка ТУТ
			block main
			block footer
				// Секция footer
				footer.footer
					.container
						.footer__top-block
							.row
								.col-xl-3.col-lg-4
									ul
										li
											p
												| viber  |  whatsapp
											a(href="tel:+380960982012") +38 (096) 098-20-12
											div
												a(href="tel:+380668518743") +38 (066) 851-87-43
								.col-xl-3.col-lg-4
									ul
										li
											a(href="skype:pickcase?call")
												span live:pickcase
										li
											a(href="mailto:smile@pickcase.com.ua")
												span smile@pickcase.com.ua
									.footer__social
										ul
											li
												a(href="#")
													i.fa.fa-instagram
											li
												a(href="#")
													i.fa.fa-facebook
											li
												a(href="#")
													i.fa.fa-vk
								.col-xl-2.col-lg-4
									ul
										li
											a(href="#")
												| Свой дизайн
										li
											a(href="#")
												| Именной чехол
										li
											a(href="#")
												| Доставка и оплата
										li
											a(href="#")
												| Отзывы
								.col-xl-4.col-12
									.footer__sign-up
										p Подпишись и получи скидку
										.footer__sign-up-widget
						.row
							.col-12
								span.copyright Copyright Pickcase 2017

		div(off-canvas='id-1 left shift')
			nav.header_nav_mobile
				ul.menu
					-var links = [{title:'Отзывы', attr: 'join', href: '#', classNameLink: 'scroll_to'},{title:'Доставка и оплата', dataEffect: 'mfp-zoom-in', classNameLink: 'open-popup-link', href: '#popup-delivery'},{title:'Свой дизайн', href: '#', attr: 'ready-to-create__constructor', classNameLink: 'scroll_to'},{title:'+38 (096) 098-20-12', href:'tel:+380960982012'},{title:'+38 (066) 851-87-43', href:'tel:+380668518743'},{title:'pickcase', href:'skype:pickcase?call'},{title:'smile@pickcase.com.ua', href:'mailto:smile@pickcase.com.ua'},{title:'Не дозвонились? Заказ звонка!', dataEffect: 'mfp-zoom-in', classNameLink: 'open-popup-link', href:'#popup'}];
					each i in links
						li(class=i.className)
							a(href=i.href data-scroll=i.attr data-effect=i.dataEffect class=i.classNameLink)= i.title
		div(off-canvas='id-2 right push')
		div(off-canvas='id-3 top overlay')
		div(off-canvas='id-4 bottom shift')
		//[if IE 9]>
			<script src="libs/html5shiv/es5-shim.min.js"></script>
			<script src="libs/html5shiv/html5shiv.min.js"></script>
			<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>`
			<script src="libs/respond/respond.min.js"></script>
		<!-- BEGIN JIVOSITE CODE {literal} -->
		script(type='text/javascript').
			(function(){ var widget_id = 'e7ihrrHRHw';var d=document;var w=window;function l(){
			var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();

