extends ../base
block title
	| Index page
block main
	section.top-section
		.container
			.row
				.col-xl-8.offset-xl-4.col-lg-10
					.top-section__title
						h1
							| Покажи свою индивидуальность
						.top-section__title-divider
						p Создай уникальный и неповторимый дизайн чехла для смартфона по своему вкусу!
						button(type="button" class="main_btn scroll_to" data-scroll="ready-to-create__constructor") Создать чехол
	// Секция  unique-design
	section.unique-design
		.container
			.section-title
				h2
					| Чехлы с уникальным дизайном под твою
					br
					| модель смартфона
				.top-section__title-divider.center
				p
					| Более пятиста моделей телефонов разных марок

			.unique-design__wrap
				.unique-design__items
					.row
						.col-sm-3
							.unique-design__item.title
								img(src=require("../../img/unique-design__item-iphone.png") class="img-fluid")
						.col-sm-3
							.unique-design__item
								img(src=require("../../img/unique-design__item-iphone2.jpg") class="img-fluid")
						.col-sm-3
							.unique-design__item
								img(src=require("../../img/unique-design__item-iphone3.jpg") class="img-fluid")
						.col-sm-3
							.unique-design__item
								img(src=require("../../img/unique-design__item-iphone4.jpg") class="img-fluid")
				.unique-design__items
					.row
						.col-sm-3.samsung-last
							.unique-design__item
								img(src=require("../../img/unique-design__item-samsung1.jpg") class="img-fluid")
						.col-sm-3.samsung-last
							.unique-design__item
								img(src=require("../../img/unique-design__item-samsung2.jpg") class="img-fluid")
						.col-sm-3.samsung-last
							.unique-design__item
								img(src=require("../../img/unique-design__item-samsung3.jpg") class="img-fluid")
						.col-sm-3.samsung-first
							.unique-design__item.title
								img(src=require("../../img/unique-design__item-samsung.png") class="img-fluid")
				.unique-design__items
					.row
						.col-sm-3
							.unique-design__item.title
								img(src=require("../../img/unique-design__item-xiaomi.png") class="img-fluid")
						.col-sm-3
							.unique-design__item
								img(src=require("../../img/unique-design__item-xiaomi2.jpg") class="img-fluid")
						.col-sm-3
							.unique-design__item
								img(src=require("../../img/unique-design__item-xiaomi3.jpg") class="img-fluid")
						.col-sm-3
							.unique-design__item
								img(src=require("../../img/unique-design__item-xiaomi4.jpg") class="img-fluid")
				.unique-design__item-bottom-link
					a(href="#" class="pink-border") И многие другие марки - перейти в каталог

	// Секция  applying-any-image
	section.applying-any-image
		.container
			.section-title
				h2
					| Возможность нанесения абсолютного
					br
					| любого изображения
				.top-section__title-divider.center
			.applying-any-image__items
				.row
					.col-xl-2.col-lg-4.col-md-4.col-sm-6.col-12
						.applying-any-image__item
							p
								| Своей
								| фотографии
					.col-xl-2.col-lg-4.col-md-4.col-sm-6.col-12
						.applying-any-image__item
							p
								| Любимого
								| персонажа
					.col-xl-2.col-lg-4.col-md-4.col-sm-6.col-12
						.applying-any-image__item
							p
								| Собственного
								| имени
					.col-xl-2.col-lg-4.col-md-4.col-sm-6.col-12
						.applying-any-image__item
							p
								| Различных
								| текстур
					.col-xl-2.col-lg-4.col-md-4.col-sm-6.col-12
						.applying-any-image__item
							p
								| Бренда или
								| марки
					.col-xl-2.col-lg-4.col-md-4.col-sm-6.col-12
						.applying-any-image__item
							p
								| Запечатленного
								| момента
	// Секция  three-steps
	section.three-steps
		.container
			.section-title
				h2
					| Всего за три шага Вы получите яркий и привлекательный
					br
					| аксессуар для своего смартфона!
				.top-section__title-divider.center
			.three-steps__wrap
				.row
					.col-12.col-xl-6
						.three-steps__left-img-block
							img(src=require("../../img/three-steps__left-img-block.jpg") class="img-fluid")
							.three-steps__left-txt
								p Через два дня вы заберете свой чехол!
								.three-steps__left-txt-divider
					.col-12.col-xl-6
						.three-steps__right-block
							.three-steps__right-block-item
								.three-steps__right-block-item-img
									img(src=require("../../img/three-steps__right-block-item-img.png"))
								.three-steps__right-block-item-txt
									p.title
										| Выбираете нужную модель телефона
									p
										| Выбирайте свою модель из пятиста
										| моделей телефонов.
							.three-steps__right-block-item
								.three-steps__right-block-item-img
									img(src=require("../../img/three-steps__right-block-item-img2.png"))
								.three-steps__right-block-item-txt
									p.title
										| Создайте собственный дизайн
									p
										| Воспользуйтесь удобным конструктором,
										| и создайте неповторимый дизайн для
										| своего чехла.
							.three-steps__right-block-item
								.three-steps__right-block-item-img
									img(src=require("../../img/three-steps__right-block-item-img3.png"))
								.three-steps__right-block-item-txt
									p.title
										| Выбираете нужную модель телефона
									p
										| И уже через пару дней у вас в руках
										| крутой чехол для Вашего смартфона.

	// Секция  ready-to-create
	section.ready-to-create
		.container
			.section-title
				h2
					| Готовы создать оригинальный дизайн чехла?
				.top-section__title-divider.center
				p
					| Это предельно удобно и быстро!
			.ready-to-create__video
				.row
					.col-12.col-xl-7
						.ready-to-create__video-inner
							.ready-to-create__video-inner-img
								i.fa.fa-picture-o
							.ready-to-create__video-inner-txt
								p Качественные и красивые изображения можно найти на:
								.ready-to-create__video-inner-left-txt-links
									a(href="#" class="pink-border") pexels.com
									a(href="#" class="pink-border") depositphotos.com
									a(href="#" class="pink-border") istockphoto.com
									a(href="#" class="pink-border") pexels.com
									a(href="#" class="pink-border") depositphotos.com
									a(href="#" class="pink-border") istockphoto.com
					.col-12.col-xl-5
						.ready-to-create__video-inner
							.ready-to-create__video-inner-img
								i.fa.fa-youtube-play
							.ready-to-create__video-inner-txt
								p Как создать дизайн чехла за 1 минуту:
								.ready-to-create__video-inner-left-txt-button
									button(data-effect="mfp-zoom-in" href="#popup-video" class="open-popup-link main_btn" title='Видео инструкция') Смотреть видео инструкцию
			.ready-to-create__constructor#ready-to-create__constructor
				p тут должен быть конструктор

	// Секция  .can-not-decide
	section.can-not-decide
		.container
			.section-title
				h2
					| Не можете определиться? Наши дизайнеры помогут в подборе чехла!
				.top-section__title-divider.center
				p
					| Заполните общие данные о себе и мы подберем дизайн в соответсвии с вашими предпочтениями.
			.accordion
				.accordion_title
					p Кликайте, чтобы заполнить форму!
					i.fa.fa-angle-down
				.accordion_content
					.row
						.col-md-6.col-12
							input(type="text" name="markPhone" placeholder="Марка телефона")
							.accordion__select-wrap
								.select.sex
									.slct_arrow
										i.fa.fa-angle-down
									a(href="#" class="slct") Пол
									ul.drop
										li Мужской
										li Женский
									input(type="hidden" name="sex")
								.select.color
									.slct_arrow
										i.fa.fa-angle-down
									a(href="#" class="slct") Любимый цвет
										i.color.blue
									ul.drop
										li Любимый цвет
											i.color.red
										li Любимый цвет
											i.color.green
										li Любимый цвет
											i.color.black
								input(type="hidden" name="services")
							.accordion__check-list-items
								span
									| Стиль дизайна:
								.accordion__check-list
									.accordion__check
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square-o
											span Классический
									.accordion__check
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square-o
											span Классический
									.accordion__check
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square-o
											span Поп-арт
								.accordion__check-list
									.accordion__check
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square-o
											span Винтаж
									.accordion__check
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square-o
											span Винтаж
									.accordion__check
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square-o
											span Анимация
									.accordion__check
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square-o
											span Анимация
						.col-md-6.col-12
							input(type="text" name="madelPhone" placeholder="Модель телефона")
							input(type="text" name="email" placeholder="E-mail")
							textarea(name="textarea" placeholder="Дополнительное пожелание")
					.accordion_content_button
						button.main_btn Отправить
	// Секция  .select-cover
	section.select-cover
		.container
			.section-title
				h2
					| Выберите чехол с уже готовым дизайном
				.top-section__title-divider.center
			.select-cover__select-wrap
				.row
					.col-lg-4.col-md-6.col-sm-12
						.select
							.slct_arrow
								i.fa.fa-angle-down
							a(href="#" class="slct") Марка телефона
							ul.drop
								li Haba Haba
								li Kumi Kumi
								li Kumi Kumi
								li Kumi Kumi
							input(type="hidden" name="mark")
					.col-lg-4.col-md-6.col-sm-12
						.select
							.slct_arrow
								i.fa.fa-angle-down
							a(href="#" class="slct") Модель телефона
							ul.drop
								li 123
								li 456
							input(type="hidden" name="mark")
					.col-lg-4.col-md-6
						.select-cover__btn
							button(type="text" class="main_btn") Показать
			.select-cover__items
				.row
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="select-cover__link")
					.col-6.col-md-4.col-xl-2
						.select-cover__item
							img(src=require("../../img/select-cover__item-img.jpg"))
							a(href="#" class="")
			.select-cover__button
				button(type="button" class="main_btn") Перейти в каталог
	// Секция .get-discounts
	section.get-discounts
		.container
			.section-title
				h2
					| Закажи оригинальный чехол для себя и близкого человека,
					br
					|  и получи СКИДКУ!
				.top-section__title-divider.center
			.row
				.col-12.col-sm-10
					p
						| При заказе двух чехлов предоставляется скидка в размере 50% на второй чехол.
						| Теперь еще легче радовать родных и близких необычными подарками!
					.get-discounts__btn
						button(type="button" class="main_btn") Выбрать чехлы
	// Секция  our_advantages
	section#our_advantages.our-advantages
		.container
			.section-title
				h2
					| Чехлы от Pickcase - это идеальное сочетание качества и красоты
					br
					|  для ежедневного использования
				.top-section__title-divider.center
			.row
				.col-lg-4.col-12.item
					.our-advantages__item
						p
							| Наши чехлы отлично защищают
							| от царапини потертостей корпуса.
							| Предотвращают появление вмятин и
							| сколов при падении смартфона.
				.col-lg-4.col-12.item
					.our-advantages__item
						p
							| По-настоящему качественная печать:
							| четкие и насыщеные цвета,
							| долговечная краска, не выгорает на
							| солнце и не стирается при ношении
							| телефона в кармане.
							|
				.col-lg-4.col-12.item
					.our-advantages__item
						p
							| Низкая стоимость, всего 199 грн..
							| Скидки для оптовых покупателей
							| и для тех, кто создат чехол через
							| онлайн конструктор.

	// Секция main_content
	section.join#join
		.container
			.section-title
				h2
					| Уже больше 1000 человек со всей Украины получили уникальный
					br
					|  аксессуар для своего телефона от Pickcase - ПРИСОЕДИНЯЙСЯ!
				.top-section__title-divider.center
			.join-slider.owl-carousel.owl-theme
				.item
					.item-slider-video(class="item-video")
						a(href="https://www.youtube.com/embed/_MwXt3WmVsc?showinfo=0" class="owl-video")
					.item-slider__user
						.item-slider__img-mini
							img(src=require("../../img/item-slider__img-mini.png"))
						.item-slider__name
							span rachel.ojey
				.item
					.item-slider-video(class="item-video")
						a(href="https://www.youtube.com/embed/SDrzn-94Pog" class="owl-video")
					.item-slider__user
						.item-slider__img-mini
							img(src=require("../../img/item-slider__img-mini.png"))
						.item-slider__name
							span rachel.ojey
				.item
					.item-slider-video(class="item-video")
						a(href="https://www.youtube.com/embed/_MwXt3WmVsc?showinfo=0" class="owl-video")
					.item-slider__user
						.item-slider__img-mini
							img(src=require("../../img/item-slider__img-mini.png"))
						.item-slider__name
							span rachel.ojey
	// Секция  ask-form-title
	section.intermediate
		.container
			.section-title
				h2
					| Появились вопросы?
				.top-section__title-divider.center
				p
					| Оставьте свой номер телефона и наши консультанты с радостью ответят на них.
			.intermediate_wrap
				form
					.row
						.intermediate_item.col-lg-4.col-md-6.col-sm-12
							.input_wrap
								i.fa.fa-check
								input(name='name', type='text', placeholder='Ваше имя')
						.intermediate_item.col-lg-4.col-md-6.col-sm-12
							.input_wrap
								i.fa.fa-check
								input(name='phone_mask', class="mask", type='tel', placeholder='+38(___) ___-__-__')
						input(type='hidden', name='form_name', value='Появились вопросы?')
						input(type='hidden', name='form_type', value='normal')
						.intermediate_item.col-lg-4.col-md-5
							input(type='submit', value='Отправить', class="main_btn")
	// Секция delivery
	section.delivery
		.container
			.row
				.col-xl-2.col-lg-1.col-md-hide
					.delivery__divider
				.col-xl-4.col-lg-5.col-md-6.col-sm-8
					.delivery__circle
						p.title Оперативная доставка
						.delivery__circle-divider
						p.gray В течении 1-2 дней
						.delivery__circle-img
							img(src=require("../../img/delivery__circle-img.png") class="img-fluid")
						.delivery__circle-txt
							p
								| Новая почта
								br
								| Укрпочта
				.col-xl-4.col-lg-5.col-md-6.col-sm-8
					.delivery__circle
						p.title Удобная оплата
						.delivery__circle-divider
						p.gray Комфортным для вас способом
						.delivery__circle-img
							img(src=require("../../img/delivery__circle-img2.png") class="img-fluid")
						.delivery__circle-txt
							p
								| Онлайн, перевод на карту
								br
								| Наличными при получении
				.col-xl-2.col-lg-1.col-md-0
					.delivery__divider
	// Секция  go-to-the-constructor
	section.go-to-the-constructor
		.container
			.section-title
				h2
					| Создайте дизайн чехла, который обязательно понравится Вам и
					br
					|  окружающим! Оригинальный, яркий чехол будет радовать
					br
					| Вас каждый раз, когда Вы будете пользоваться смартфоном!
				.top-section__title-divider.center
			.go-to-the-constructor__btn
				button(type="button" class="main_btn scroll_to" data-scroll="ready-to-create__constructor") Перейти в конструктор