doctype html
html(class="no-js" lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title
			block title
		link(rel="shortcut icon" href=require("../../img/favicon.png") type="image/x-icon")
		include ../../libs/bootstrap.min.html
		style(type='text/css').
			html .loader {
				background: #fff;
				bottom: 0;
				height: 100%;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 9999
			}

			html .loader .loader_inner {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: #fff;
				height: 296px;
				width: 296px;
				margin-top: -148px;
				margin-left: -148px;
				left: 50%;
				top: 50%;
				position: absolute
			}
	body
		// Модальное окно
		//
			Их можно активировать
			$.magnificPopup.open({
			items: {
			src: $('#popup-constructor-order-created')
			},
			type: 'inline'
			});
			Или закрыть модальное окно
			$.magnificPopup.close();
		div
			.loader
				.loader_inner
					img(src=require("../../img/loader.gif"))
		.hide-links-modal
			button(type="button" class="main_btn open-popup-link" id="success" data-mfp-src="#popup-constructor-order-created")
			button(type="button" class="main_btn open-popup-link" id="error" data-mfp-src="#popup-constructor-order-not-created")
		#popup-constructor.mfp-hide.white-popup.mfp-with-anim.popup.popup-constructor
			form
				p.title-modal-top
					span Выберите изображение:
					|
					| Фото должно быть формата .jpg, .png,
					| .gif и не менее 1000 пикселей в высоту.
				.modal-loaders
					.ready-to-create__constructor-design-social-item
						p.ready-to-create__constructor-design-social-title Загрузить с соцсетей:
						.ready-to-create__constructor-design-social
							a(href="#")
								img(src=require("../../img/constructor-design-social-vk.jpg"))
							a(href="#")
								img(src=require("../../img/constructor-design-social-fb.jpg"))
							a(href="#")
								img(src=require("../../img/constructor-design-social-inst.jpg"))
					.ready-to-create__constructor-design-input-file
						span Загрузить с ПК
						input(type="file" name='field' multiple)
				.popup-constructor__image-categories
					.popup-constructor__image-categories-links
						p.popup-constructor__image-categories-links-title
							| Категории изображений:
						a(href="#").pink-border стиль дизайна длинный
						a(href="#").pink-border стиль дизайна 5
						a(href="#").pink-border стиль дизайна 5
						a(href="#").pink-border стиль
					.popup-constructor__image-categories-wrap
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-pagination.wrap__pagination
							ul.pagination
								li
									a(href="#" class="active") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
								li
									span(class="ellipsis") ...
								li
									a(href="#") 20
								li
									a(href="#") 21
								li
									a(href="#")
										i.fa.fa-long-arrow-right
								li
									a(href="#") Последняя
		#popup-constructor-textures.mfp-hide.white-popup.mfp-with-anim.popup.popup-constructor
			form
				.popup-constructor__image-categories
					.popup-constructor__image-categories-links
						p.popup-constructor__image-categories-links-title
							| Категории текструр:
						a(href="#").pink-border стиль дизайна длинный
						a(href="#").pink-border стиль дизайна 5
						a(href="#").pink-border стиль дизайна 5
						a(href="#").pink-border стиль дизайна 5
					.popup-constructor__image-categories-wrap
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-item
							a(href="#")
								img(src=require("../../img/popup-constructor__image-categories.jpg"))
						.popup-constructor__image-categories-pagination.wrap__pagination
							ul.pagination
								li
									a(href="#" class="active") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
								li
									span(class="ellipsis") ...
								li
									a(href="#") 20
								li
									a(href="#") 21
								li
									a(href="#")
										i.fa.fa-long-arrow-right
								li
									a(href="#") Последняя
		#popup-constructor-order-created.mfp-hide.white-popup.mfp-with-anim.popup-constructor-order-created
			.order-created__title
				| СПАСИБО ЗА ЗАКАЗ!
			p
				| С Вами свяжется наш представитель для подтверждения заказа.
			img(src=require("../../img/popup-constructor-order-created__smile.png"))
		#popup-constructor-order-not-created.mfp-hide.white-popup.mfp-with-anim.popup-constructor-order-created.popup-constructor-order-not-created
			.order-created__title
				| ВАШ ЗАКАЗ НЕ СОЗДАН!
			p
				| Проверьте правильность данных!
			img(src=require("../../img/popup-constructor-order-created__sad.png"))
		section.constructor-section
			.container
				.ready-to-create__constructor
					.ready-to-create__constructor-header
						.ready-to-create__constructor-steps.step1
							.ready-to-create__constructor-step.active(data-tab="1")
								.ready-to-create__constructor-step-info
									span.ready-to-create__constructor-step-info-value Выбери
									i.fa.fa-close
								span.ready-to-create__constructor-step-value 1. iPhone 7
						.ready-to-create__constructor-steps.step1
							.ready-to-create__constructor-step(data-tab="2")
								.ready-to-create__constructor-step-info
									span.ready-to-create__constructor-step-info-value Задизайни
									i.fa.fa-close
								span.ready-to-create__constructor-step-value 2. Дизайн чехла
						.ready-to-create__constructor-steps.step1
							.ready-to-create__constructor-step.last(data-tab="3")
								.ready-to-create__constructor-step-info
									span.ready-to-create__constructor-step-info-value Закажи
									i.fa.fa-close
								span.ready-to-create__constructor-step-value 3. Оформить заказ
					.tabs-wrap.active(data-tab="1")
						.ready-to-create__constructor-title
							p.ready-to-create__constructor-title-val Ваш персональный дизайн чехла для iPhone X почти готов
							.ready-to-create__constructor-divider
						.ready-to-create__constructor-model-canvas-container.step1
							// картинка для примера
							img(src=require("../../img/constructor-model-canvas-container.jpg"))
						.ready-to-create__constructor-phonegroup
							.row
								.offset-xl-1.col-xl-3.col-lg-3.col-lg-4.col-md-4
									.ready-to-create__constructor-phonegroup-item.center-select-mobile
										.select
											.slct_arrow
												i.fa.fa-angle-down
											a(href="#" class="slct") Apple
											ul.drop
												li Apple
												li Sumsung
												li Xiaomi
												li Meizu
												li Nokia
												li Microsoft
												li Lenovo
												li Apple
												li Sumsung
												li Xiaomi
												li Meizu
												li Nokia
												li Microsoft
												li Lenovo
												li Apple
												li Sumsung
												li Xiaomi
												li Meizu
												li Nokia
												li Microsoft
												li Lenovo
												li Apple
												li Sumsung
												li Xiaomi
												li Meizu
												li Nokia
												li Microsoft
												li Lenovo
												li Apple
												li Sumsung
												li Xiaomi
												li Meizu
												li Nokia
												li Microsoft
												li Lenovo
												li Apple
												li Sumsung
												li Xiaomi
												li Meizu
												li Nokia
												li Microsoft
												li Lenovo
											input(type="hidden" name="phonegroup-manufacturer")
								.col-xl-4.col-lg-4.col-md-4
									.ready-to-create__constructor-phonegroup-item.center-select
										.select
											.slct_arrow
												i.fa.fa-angle-down
											a(href="#" class="slct") Nexus 6
											ul.drop
												li Nexus
												li Nexus 6
												li Nexus 6
												li Nexus 5
												li Nexus 6
										input(type="hidden" name="phonegroup-model")
								.col-xl-3.col-lg-4.col-md-4
									.ready-to-create__constructor-phonegroup-item.center-select-mobile
										button(type="submit" class="main_btn tabs-item" data-tab="2") Создать чехол
					.tabs-wrap(data-tab="2")
						.ready-to-create__constructor-level2-wrap
							.ready-to-create__constructor-wrap
								.ready-to-create__constructor-title.tab2
									p.ready-to-create__constructor-title-val Инструкция
									.ready-to-create__constructor-divider
								.ready-to-create__constructor-instruction
									.ready-to-create__constructor-instruction-item
										.ready-to-create__constructor-instruction-item-img
											.ready-to-create__constructor-instruction-item-img-digi-block
												span 1
										.ready-to-create__constructor-instruction-item-txt
											p Выберите изображение в галерее, на вашем компьютере или загрузите из соц. сетей.
									.ready-to-create__constructor-instruction-item
										.ready-to-create__constructor-instruction-item-img
											.ready-to-create__constructor-instruction-item-img-digi-block
												span 2
										.ready-to-create__constructor-instruction-item-txt
											p
												| Дождитесь загрузки вашего изображения в
												| конструктор.
									.ready-to-create__constructor-instruction-item
										.ready-to-create__constructor-instruction-item-img
											.ready-to-create__constructor-instruction-item-img-digi-block
												span 3
										.ready-to-create__constructor-instruction-item-txt
											p
												| Разместите картинку на макете, используя
												| возможности управления в конструкторе.
									.ready-to-create__constructor-instruction-item
										.ready-to-create__constructor-instruction-item-img
											.ready-to-create__constructor-instruction-item-img-digi-block
												span 4
										.ready-to-create__constructor-instruction-item-txt
											p
												| Для движения картинки нажмите на нее
												| левой кнопкой мышки и перемещайте.
									.ready-to-create__constructor-instruction-item
										.ready-to-create__constructor-instruction-item-img
											.ready-to-create__constructor-instruction-item-img-digi-block
												span 5
										.ready-to-create__constructor-instruction-item-txt
											p
												| Для изменения размера изображение
												| используйте инструмент конструктора, для
												| увеличения или уменьшения изображения.
									.ready-to-create__constructor-instruction-item-title
										| ВАЖНО!
									.ready-to-create__constructor-instruction-item-text-info
										| Фото должно быть формата .jpg, .png, .gif
										| и не менее 1000 пикселей в высоту.
							.ready-to-create__constructor-model-canvas-container
								// картинка для примера
								img(src=require("../../img/constructor-model-canvas-container.jpg"))
							.ready-to-create__constructor-design-option-toolbar-content
								.ready-to-create__constructor-design-option
									ul
										li
											a(href="#" class="ready-to-create__constructor-design-link-toggle") Текст на чехле
												i
													i.fas.fa-angle-down
											.ready-to-create__constructor-design-dropdown-wrap
												input(type="text" placeholder="Введите текст на крышке" class="ready-to-create__constructor-design-option-input")
												.select
													.slct_arrow
														i.fa.fa-angle-down
													a(href="#" class="slct") Verdana
													ul.drop
														li Roboto
														li Helvetica
														li Segoe
														li BlinkMacSystemFont
														li sans-serif
														li Arial
													input(type="hidden" name="design-option")
										li
											a(href="#" class="ready-to-create__constructor-design-link-toggle") Избражение на чехле
												i
													i.fas.fa-angle-down
											.ready-to-create__constructor-design-dropdown-wrap
												button(type="button" class="main_btn open-popup-link" data-mfp-src="#popup-constructor") Галерея
												form
													.ready-to-create__constructor-design-input-file
														span Загрузить с ПК
														input(type="file" name='field' id="image-input" multiple)
												.ready-to-create__constructor-design-social-item
													p.ready-to-create__constructor-design-social-title Загрузить с соцсетей:
													.ready-to-create__constructor-design-social
														a(href="#")
															img(src=require("../../img/constructor-design-social-vk.jpg"))
														a(href="#")
															img(src=require("../../img/constructor-design-social-fb.jpg"))
														a(href="#")
															img(src=require("../../img/constructor-design-social-inst.jpg"))

						.row
							.col-12.col-xl-10.offset-xl-1
								.ready-to-create__constructor-design-option-toolbar
									.ready-to-create__constructor-design-option-toolbar-backward(class="tabs-item" data-tab="1")
										i.fa.fa-angle-double-left
										| Выбрать модель
									.ready-to-create__constructor-design-option-toolbar-order(class="tabs-item" data-tab="3")
										| Заказать
										i.fa.fa-angle-double-right
								.ready-to-create__constructor-design-option-toolbar.mobile
									.ready-to-create__constructor-design-option-toolbar-order(class="tabs-item" data-tab="3")
										| Заказать
										i.fa.fa-angle-double-right
									.ready-to-create__constructor-design-option-toolbar-backward(class="tabs-item" data-tab="1")
										i.fa.fa-angle-double-left
										| Выбрать модель
					.tabs-wrap(data-tab="3")
						.ready-to-create__constructor-title
							p.ready-to-create__constructor-title-val Ваш персональный дизайн чехла для iPhone 7 готов
							.ready-to-create__constructor-divider
						form
							.ready-to-create__constructor-level3-wrap
								.ready-to-create__constructor-model-canvas-container
									// картинка для примера
									img(src=require("../../img/constructor-model-canvas-container.jpg"))
								.ready-to-create__constructor-checkout
									.select
										.slct_arrow
											i.fa.fa-angle-down
										a(href="#" class="slct") Выберите материал чехла:
										ul.drop
											li Roboto
											li Helvetica
											li Segoe
											li BlinkMacSystemFont
											li sans-serif
											li Arial
										input(type="hidden" name="constructor-checkout")
									div
										input(type="text" placeholder="Введите e-mail" class="ready-to-create__constructor-checkout-input")
									div
										input(type="text" placeholder="Введите номер телефона" class="ready-to-create__constructor-checkout-input")
									div
										textarea(placeholder="Введите ваш комментарий" class="ready-to-create__constructor-checkout-textarea")
							.ready-to-create__constructor-design-option-wrap
								.ready-to-create__constructor-design-option-toolbar.mobile-step3
									.ready-to-create__constructor-design-option-toolbar-backward(class="tabs-item" data-tab="2")
										i.fa.fa-angle-double-left
										| Свой дизайн
									.ready-to-create__constructor-checkout-btn
										button(type="submit" class="main_btn") Отправить